Django==1.6.5
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
PAM==0.4.2
Pillow==2.3.0
-e git://github.com/richbs/RoyGBiv.git@72cf9f5003ac625241dcdb0c23deb39affb671f1#egg=RoyGBiv-master
Twisted-Core==13.2.0
Twisted-Web==13.2.0
Werkzeug==0.9.6
adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
chardet==2.0.1
clay-flask==2.1.5
colorama==0.2.5
colormath==1.0.9
command-not-found==0.3
-e git://github.com/cooperhewitt/py-cooperhewitt-swatchbook.git@1f48727d733460517ce6296cb7423217662879c0#egg=cooperhewitt_swatchbook-master
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-database-url==0.3.0
django-debug-toolbar==1.2.1
duplicity==0.6.23
gunicorn==0.17.2
html5lib==0.999
httplib2==0.8
itsdangerous==0.24
lockfile==0.8
lxml==3.3.3
matplotlib==1.3.1
nose==1.3.3
numpy==1.8.1
oauthlib==0.6.1
oneconf==0.3.7
pexpect==3.1
piston-mini-client==0.7.5
pyOpenSSL==0.13
pycrypto==2.6.1
pycups==1.9.66
pycurl==7.19.3
pygobject==3.12.0
pygpgme==0.3
pymongo==2.7.1
pyparsing==2.0.1
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.5
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
pytz==2012c
pyxdg==0.25
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
six==1.5.2
software-center-aptd-plugins==0.0.0
sqlparse==0.1.11
system-service==0.1.6
tornado==3.2.2
unity-lens-photos==1.0
urllib3==1.7.1
virtualenv==1.11.4
webcolors==1.4
wsgiref==0.1.2
xdiagnose==3.6.3build2
zope.interface==4.0.5
