Django<=1.7
-e git://github.com/richbs/RoyGBiv.git#egg=roygbiv
-e git://github.com/richbs/py-cooperhewitt-swatchbook.git#egg=cooperhewitt
colormath<2
webcolors
django-debug-toolbar
feedparser
beautifulsoup4
# heroku
gunicorn
dj-static
