<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{% block title %}{% endblock %}</title>
		{% block extrahead %}{% endblock %}
	</head>
	<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock  %}">
		<div id="content">{% block content %}{% endblock %}</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% block extrascript %}{% endblock %}
	</body>
</html>