{% extends "base.html" %}

{% block title %}
{% endblock title %}
{% block content %}
<div id="colour-list">
{% for c in colours %}<div style="width: {{ colour_width|floatformat:2 }}%; height:{{ c.artwork__count }}px; margin:0; padding:0; background-color:{{ c.hex_value}}; display:inline-block;">
	<a href="{{ request.get_full_path }}{% if '?' in request.get_full_path %}&amp;{% else %}?{% endif %}colour={{c.hex_value|urlencode}}">{{ c.artwork__count }}</a>
	{% if c.hex_value in req_colours %}<span class="selected" style="width:100%; height:3px; margin:6px auto 0 auto; background-color:{{ c.hex_value }};"></span>{% else %}{% endif %}	
</div>{% endfor %}
</div>
<div id="header">
<h1 id="colour_me_bad">Colour Lens</h1><em>{{found}} results</em><h2>{{ colour_count }} colours in this set</h2>
<p>
	<a href="{% url 'colour_index' %}">ALL</a>
	{% for i in institutions %}
	<a href="{% url 'colour_index' %}{{ i.institution }}">{{ i.institution }}</a>
{% endfor %}</p>
</div>
<ul class="explorerWorks explorerGrid">
  {% for a in artworks  %}
  <li class="grid-work">
		<span>{{ a.institution }}</span>
    <div class="grid-work-image">
      <a href="{{ a.url }}">
        <img alt="Accession number {{ a.accession_number }}" src="{{ a.image_url }}"
        />
      </a>
    </div>
		<h3>{{ a.title|truncatechars:25 }}</h3>
		<p class="artist"><em>{{ a.artist|truncatechars:25 }}</em></p>
		<p class="signature">{% for h, pc in a.colour_parts %}<span style="display:inline-block; width: {{ pc|floatformat:2 }}%; height:15px; background-color:{{ h }};"></span>{% endfor %}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
var total_palette = {{ total_palette }};
$('#colour-list div a').each(function(i, ele){
 	var h = $(ele).height();
	var sqrt = Math.log(h) * 10;
	$(ele).parent().css('height', sqrt + 24 + 'px');
	ele.innerHTML = '';	
})

$('.explorerGrid h3, .explorerGrid p.artist').hide()

</script>
{% endblock %}
{% block extrahead %}
<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
* {
	font-family: 'Quattrocento Sans', "HelveticaNeue-Thin", "Helvetica Neue Light", "Helvetica Neue", 
	Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #666;
}

body {
	margin:0;
}

#content {
	max-width:1228px;
	margin: 0px auto;
}

#colour-list {
	#background-color:#f3f3f3;
}

#colour-list a {
	width:100%;
	height:100%;
	display:block;
	color:transparent;
	text-decoration: none;
	
}

#colour-list a:hover {
	font-weight:800;
	color:white;
}

#colour-list .selected {
	width:100%;
	height:100%;
	display:block;
}

#header * {
	display:inline-block;
	margin-right:20px;
}

#header a {
	color:black;
	text-decoration:none;
	padding-bottom:6px;
	border-bottom:3px solid #666;
}

.explorerGrid ul {
	display: block;
	width:100%;
}

.explorerGrid li {
	height: inherit;
	min-height: 100px;
	max-width: 133px;
	display: inline-block;
	vertical-align: bottom;
	font-size:0.66em;
	margin-right:15px;
}
.explorerGrid li span {
	font-size:1em;
}

.explorerGrid li img {
	min-height: 100px;
	max-width: 133px;
}

.explorerGrid h3 {
	height:12px;
}

.explorerGrid p {
	height:12px;
}

.explorerWorks {
	padding:0;
}

.grid-work-image {
	padding: 0;
}
</style>
{% endblock extrahead %}
